# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Go
simulate
simulate.exe
root/

# Data & Output
params.json
params_macro.json
results_gas.csv
results_diesel.csv
results_macro_gas.csv
results_macro_diesel.csv
*_forecast.pdf
*_forecast.png
!gasoline_forecast.png
!diesel_forecast.png
.vscode/

.vscode/
root/
